{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div>
  <h2 class="center auth-title">{% trans "Sign In" %}</h2>
</div>

{% get_providers as socialaccount_providers %}

<div class="auth-p">
  <p class="center">{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
</div>

<div class="row">

  <form class="login col s12 m8 l6 offset-m2 offset-l3 auth-form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn" type="submit">{% trans "Sign In" %}</button>
  </form>

</div>

{% endblock %}
