{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div>
        <h2 class="center auth-title purple-text text-lighten-1">{% trans "Change Password" %}</h2>
    </div>

    <div class="row">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change col s12 m8 l6 offset-m2 offset-l3 auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="btn-small purple lighten-1">{% trans "Change Password" %}</button>
        </form>

    </div>

{% endblock %}
