@media (min-width: 800px){
    #title{
        padding-inline-start: 1.25rem;
    }
}


/* .card-handler{
    margin-block-start: 1rem !important;
} */

/* #greetings{
    background-color: black !important;
    padding-block-start: 1rem !important;
} */

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- HOME PAGE ------------------------------------------------------ */

.add{
    margin-block: 2rem;
    /* position: relative; */
}

.add-link{
    /* inline-size: 10rem; */
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    /* margin-block-end: 2rem; */
    justify-content: center;
}

.small-container{
    margin-block-end: 1em;
}


/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- AUTH PAGES ----------------------------------------------------- */
.auth-title{
    margin-block-end: 2.5rem;
    color: brown;
}

.auth-p{
    margin-block-end: 4rem;
}

.auth-form{
    outline: 1px solid goldenrod;
    outline-offset: 2rem;
    padding: 2rem;
}

.auth-form input{
    color: brown;
}

.signout-container{
    outline: 1px solid goldenrod;
    outline-offset: 2rem;
    margin-block-start: 5rem;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- ADD POST ------------------------------------------------------- */

h4{
    margin-block: 3rem;
}

textarea{
    block-size: 25rem;
}


/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- POST DETAIL ------------------------------------------------------- */

.post-image{
    block-size: 30rem;
    inline-size: 20rem;
    /* background-color: aqua; */
}

.post-image > img {
    block-size: 100%;
    inline-size: 100%;
    border-radius: 10px;
}

.post-content{
    margin-block: 2rem;
    font-size: large;
    text-align: justify;
}

.article-container{
    border-bottom: 1px solid black;
    padding-block-end: 1em;
}

.comment-box textarea{
    block-size: 5rem;
    /* max-inline-size: 40rem; */
    margin-block-end: 1rem;
}

@media (max-width: 380px){
    .approval-btn {margin-block-start: 0.5rem;}
}

.like-button{
    border: none;
    background: none;
    cursor: pointer;
    color: teal
}

/* hr{
    margin-block-end: 5rem;
} */

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- USER POSTS ------------------------------------------------------- */

.post-list{
    border-bottom: 1px solid black;
    /* inline-size: 50%; */
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- USER POSTS ------------------------------------------------------- */
.profile-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-control{

    outline: 1px solid black;
    outline-offset: 0.5em;

}