@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald:wght@300&family=Young+Serif&display=swap');

body{
    font-family: 'Lora', serif;
}

.link-controller{
    font-family: 'Oswald', sans-serif;
}

#title{
    font-family: 'Young Serif', serif;
}

@media (min-width: 800px){
    #title{
        padding-inline-start: 1.25rem;
    }
}

.modal{

    max-inline-size: 30rem;

}

.success{
    inline-size: 100%;
    background-color: #BAF5A8;
    /* margin-block-end: 2px; */
}

.error, .warning{
    inline-size: 100%;
    background-color: #FF9E86;
    /* margin-block-end: 2px; */
}

.greeting{
    margin-block: 1.5rem;
    /* margin-block-start: 2px; */
}

input:focus {
    border-bottom: 1px solid rgb(196, 116, 250) !important;
    box-shadow: 0 1px 0 0 rgb(196, 116, 250) !important;
  }

/* textarea{
    border: 1px solid red
} */

textarea{
    border: 1px solid rgb(207, 205, 205);
}

textarea:focus{
    border: 2px solid rgb(196, 116, 250);
    /* border-color: pink !important; */
    /* box-shadow: 0 0 5px 0 rgb(196, 116, 250) !important; */
    outline: none !important;
    /* background-color: #FF9E86; */
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- HOME PAGE ------------------------------------------------------ */

.add{
    margin-block: 2rem;
    /* position: relative; */
}

.add-link{
    /* inline-size: 10rem; */
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    /* margin-block-end: 2rem; */
    justify-content: center;
}

.small-container{
    margin-block-end: 1em;
}

.card-title{
    font-family: 'Oswald', sans-serif;
}

.typing-container{

    block-size: 8rem;
    /* background-color: #FF9E86; */

}

.typing-list{

    list-style: none;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    /* inline-size: min(); */
    /* margin: auto; */

}

.typing-texts{

    font-family: monospace;
    font-size: 2.5em;
    inline-size: min(max-content, 100vw);
    /* border: 1px solid blue ; */
    position: relative;
    top: 0;
    animation: sliding 9s steps(3) infinite;

}


.typing-texts::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 1px solid rgb(196, 116, 250);
    background-color: #fff;
    animation: typing 3s steps(19) infinite;

}

@media (max-width: 875px){

    .typing-container{
        block-size: 5rem;
    }

    .typing-list{
        
        top: 12%;
        left: 50%;
        transform: translateX(-50%);

    }

    .typing-texts{
        font-size: 1.5em;
    }
    .typing-texts::before{
        height: 50% !important;
        top: 50%;
        transform: translateY(-50%);
    }


}

@media (max-width: 500px){

    .typing-container{
        block-size: 5rem;
    }


    .typing-texts{
        font-size: 1em;
    }
    /* .typing-texts::before{
        height: 50% !important;
        top: 50%;
        transform: translateY(-50%);
    } */
}

@keyframes typing {

    40%, 60%{
        /* left: calc(100% + 10px); */
        left: 100%;
      }
      100%{
        left: 0;
      }

}

@keyframes sliding {

    to{
        top: -270px;
}

}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- AUTH PAGES ----------------------------------------------------- */
.auth-title{
    margin-block-end: 2.5rem;
}

.auth-p{
    margin-block-end: 4rem;
}

.auth-form{
    /* outline: 1px solid goldenrod; */
    /* outline-offset: 2rem; */
    padding: 2rem;
}

input{
    /* color: rgb(196, 116, 250); */
    /* border-bottom: 1px solid yellow !important; */
    /* border-bottom: none !important; */
}

.signout-container{
    /* outline: 1px solid goldenrod;
    outline-offset: 2rem; */
    margin-block-start: 5rem;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- ADD POST ------------------------------------------------------- */

textarea{
    block-size: 25rem;
}

.post-title{
    font-family: 'Oswald', sans-serif;
    margin-block: 3rem;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- POST DETAIL ------------------------------------------------------- */

.post-image{
    block-size: 30rem;
    inline-size: 20rem;
    /* background-color: aqua; */
}

@media (max-width: 450px){
    .post-image {
        block-size: 25rem;
        inline-size: 20rem;
    }
}

.post-image > img {
    block-size: 100%;
    inline-size: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-content{
    margin-block: 2rem;
    font-size: large;
    text-align: justify;
}

.article-container{
    border-bottom: 1px solid black;
    padding-block-end: 1em;
}

.comment-box textarea{
    block-size: 5rem;
    /* max-inline-size: 40rem; */
    margin-block-end: 1rem;
}

@media (max-width: 380px){
    .approval-btn {margin-block-start: 0.5rem;}
}

.like-button{
    border: none;
    background: none;
    cursor: pointer;
    color: teal
}

.commentor{
    font-family: 'Oswald', sans-serif;
}

/* hr{
    margin-block-end: 5rem;
} */

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- USER POSTS ------------------------------------------------------- */

.post-list{
    border-bottom: 1px solid rgb(216, 208, 208);
    /* inline-size: 50%; */
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- USER POSTS ------------------------------------------------------- */
.profile-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- PROFILE PAGE ------------------------------------------------------- */

.info-control{

    outline: 1px solid black;
    outline-offset: 0.5em;

}

.profile-pic{
    /* background-color: teal; */
    margin-block: 2rem;
    block-size: 13rem;
    aspect-ratio: 1;
    border-radius: 50%;
}


/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- FOLLOW/FOLLOWING PAGE ------------------------------------------------------- */

.follow-page-img{

    block-size: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;

}

.follow-page-span{

    margin-inline-start: 2em;

}

.follower-page-header{

    margin-block-start: 2rem;

}

/* div:has(.follow-page-follower-row){
    margin-block-start: 8rem;

} */

/* .follow-page-follower-row:first-of-type{

    margin-block-start: 15rem;

} */

.follow-page-follower-row:nth-of-type(2){
    margin-block-start: 5rem;
}