{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div>
            <h4 class="center">What's On Your Mind?</h4>
        </div>

        <div class="row">

            <form class="col s12 m10 l8 offset-m1 offset-l2 add_post_form" action="{% url 'add_post' request.user%}" method="post" enctype="multipart/form-data">
                {{add_post_form.as_p}}
                {% csrf_token %}
                <button class="btn purple lighten-1" type="submit">Submit</button>
            </form>

        </div>
    {% else %}

        <div>
            <h4 class="center">Not Authenticated</h4>
        </div>
    {% endif %}

{% endblock %}