{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialise Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Ink</title>
</head>
<body>
    
    <nav>
        <div class="nav-wrapper  purple lighten-1">
          <a href="#!" class="brand-logo teal-text text-lighten-4 offset-s2" id="title">Ink</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger purple-text text-darken-4"><i class="material-icons">menu</i></a>
            {%   if user.is_authenticated%}
                {% if user.is_superuser %}
                    <ul class="right hide-on-med-and-down ">
                        <li><a href="/" class="teal-text text-lighten-4">Home</a></li>
                        <li><a href="{% url 'user_posts' request.user %}" class="teal-text text-lighten-4">Posts</a></li>
                        <li><a href="{% url 'profile' request.user %}" class="teal-text text-lighten-4">Profile</a></li>
                        <li><a href="{% url 'admin:index' %}" class="teal-text text-lighten-4">Admin</a></li>
                        <li><a href="{% url 'account_logout' %}" class="teal-text text-lighten-4">LogOut</a></li>
                    </ul>
                {% else %}
                <ul class="right hide-on-med-and-down ">
                    <li><a href="/" class="purple-text text-darken-4">Home</a></li>
                    <li><a href="{% url 'user_posts' request.user %}" class="purple-text text-darken-4">Posts</a></li>
                    <li><a href="{% url 'profile' request.user %}" class="purple-text text-darken-4">Profile</a></li>
                    <li><a href="{% url 'account_logout' %}" class="purple-text text-darken-4">LogOut</a></li>
                </ul>
                {% endif %}
            {% else %}

                <ul class="right hide-on-med-and-down ">
                    <li><a href="/" class="purple-text text-darken-4">Home</a></li>
                    <li><a href="{% url 'account_login' %}" class="purple-text text-darken-4">LogIn</a></li>
                    <li><a href="{% url 'account_signup' %}" class="purple-text text-darken-4">SignUp</a></li>
                </ul>

            {% endif %}
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/" class="purple-text text-darken-4">Home</a></li>
        <li><a href="{% url 'user_posts' request.user %}" class="purple-text text-darken-4">Posts</a></li>
        <li><a href="{% url 'profile' request.user %}" class="purple-text text-darken-4">Profile</a></li>
        <li><a href="" class="purple-text text-darken-4">LogIn</a></li>
    </ul>

    {% if user.is_authenticated %}
        <div class="center" id="greeting" style="margin: 1.5rem;">
            Welcome {{user.get_username}}
        </div>
    {% else %}
        <div class="center" id="greeting" style="margin: 1.5rem;">
            Welcome Guest
        </div>
    {% endif %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    


    <!-- Materialise Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>