{% extends 'base.html' %}


{% block content %}
    
    <div class="row article-container">
        <div class="col s12 m8 l8 offset-m3 offset-l2">
            <h4 class="center">{{post_detail.title}}</h4>
        </div>
        <div class="col s12 m8 l8 offset-m3 offset-l2 post-image">
            <img src="{{post_detail.featured_image.url}}" alt="image for {{post_detail.title}}" class="">
        </div>
        <div class="col s12 m8 l8 offset-m3 offset-l2 post-content">
            {{post_detail.content}}
        </div>
        <div class="col s12 m8 l8 offset-m3 offset-l2">
            <small>Author: {{post_detail.author}}</small>
        </div>
        <div class="col s12 m8 l8 offset-m3 offset-l2">
            <small>Created On: {{post_detail.created_on}}</small>
        </div>
    </div>

    <div class="row">
        <h5 class="col s2 m2 l2">Comments:</h5>
    </div>

    {% if user.is_authenticated %}

        <div class="row">

            <form action="{% url 'post_comment' post_detail.slug %}" method="POST" class="col s12 m4 l4 comment-box">
                {{comment_form}}
                {% csrf_token %}
                <button class="btn left">Submit</button>
            </form>

        </div>
    {% endif %}

    {% if comments %}
    
        {% for comment in comments  %}
            {% if post_detail.author == request.user and not comment.approved %}
                <p>{{comment.commented_text}}</p>
                <p>{{comment.commented_by}}</p>
                <form action="{% url 'comment_approve' comment.id %}" method="POST">
                    {% csrf_token %}
                    <button>Approve</button> <button>Delete</button>
                </form>
            {% endif %}
        {% endfor %}

        {% for comment in comments %}
            {% if comment.approved %}
                <p>{{comment.commented_text}}</p>
                <p>{{comment.commented_by}}</p>
            {% endif %}
        {% endfor %}

    {% else %}
        <p>No comments</p>
    {% endif %}

    <!-- {% for comment in comments %}
            {{comment.text}}
        {% empty %}
            <p>No comments</p>
    {% endfor %} -->

{% endblock %}