{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="center" style="margin-block-start: 4rem;">
            <h4>Profile</h4>
        </div>

        <div class="center">
            <img src="{{profile.profile_pic.url}}" alt="Profile Picture" class="profile-pic">
        </div>

        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Username: {{user.username}}</h6>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                {% if user == request.user%}
                    
                    {% if user.email %}
                        <h6>Email Id: {{user.email}}</h6>
                    {% else %}
                        <h6>Email Id: None</h6>
                    {% endif %}

                {% endif %}
            </div>
        </div>


        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Homepage Link: {{profile.homepage_link}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Facebook Link: {{profile.facebook_link}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Instagram Link: {{profile.instagram_link}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>LinkedIn Link: {{profile.linkedin_link}}</h6>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Posts: {{posts}}</h6>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                    <h6>Followers: {{subscribers.sub_count}}</h6>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l4 offset-m4 offset-l4 info-control">
                <h6>Following: {{subbed}}</h6>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col s12 m4 l4 offset-m5 offset-l5">
                <form action="">
                    <button class="btn-small">Follow</button>
                </form>
            </div>
        </div> -->

        {% if request.user != user %}

            <div class="center" style="margin-block-end: 1rem;">
                <form action="{% url 'follow' user.username %}" method="POST">
                    {% csrf_token %}
                    <button class="btn-small purple lighten-1 link-controller">Follow</button>
                </form>
            </div>
        {% endif %}

        {% if user == request.user %}

            <!-- <div class="row">
                <div class="col s12 m4 l4 offset-m4 offset-l4">
                    <a href="{% url 'account_change_password' %}" class="btn-small purple lighten-1">Change Password</a>
                    <a href="{% url 'account_email' %}" class="btn-small purple lighten-1">Change Email</a>
                </div>
            </div> -->

            <div class="center" style="margin-block-end: 1rem;">
                <button class="btn-small purple lighten-1 modal-trigger-3" data-user="{{request.user}}">Edit</button>
                <a href="{% url 'account_change_password' %}" class="btn-small purple lighten-1">Change Password</a>
                <a href="{% url 'account_email' %}" class="btn-small purple lighten-1">Change Email</a>
            </div>

        {% endif %}

    {% endif %}

    <div id="modal3" class="modal">
        <div class="modal-content">
          <p>Edit</p>
        </div>
        <div class="row">
            <form class="col profile-form" method="POST" enctype="multipart/form-data">
                {{profile_form.as_p}}
                {% csrf_token %}
                <button class="btn-small purple lighten-1" type="submit">Agree</button>
            </form>
            <button class="modal-close-3 btn-small purple lighten-1" style="display: inline;">Cancel</button>
        </div>
    </div>

{% endblock %}