{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="add">
        <a href="{% url 'add_post' request.user %}" class="valign-wrapper add-link">
            <i class="material-icons">add_circle</i><span>Add Post</span>
        </a>
    </div>
    {% if user_posts %}
        {% for post in user_posts %}

        <div class="row post-list">
            <div class="col s6 m6 l3">
                <h6 style="display: inline;">{{post.title}}</h6> <small>({{post.get_status_display}})</small>
                <small style="display: block;">{{post.created_on}}</small>
            </div>
            <div class="col s6 m6 l9">
                    <a href="{% url 'post_detail' post.slug %}" class="col s12 m3 l2 btn-small" style="margin-inline-end: 1em; margin-block-end: 0.25em">Read</a>
                    <a href="{% url 'post_edit' request.user post.slug %}" class="col s12 m3 l2 btn-small" style="margin-inline-end: 1em; margin-block-end: 0.25em">Edit</a>
                    <a href="" class="col s12 m3 l2 btn-small" style="margin-block-end: 0.25em">Delete</a>
            </div>
        </div>

    {% endfor %}

    {% else %}
        <div class="center">
            <h3>No posts yet!</h3>
        </div>
    {% endif %}
    
{%else%}

    <div class="center">
        <h4>Not Authenticated</h4>
    </div>
        
{% endif %}

{% endblock %}